@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif !important;
    @apply focus-visible:outline-none;
  }
}

@layer components {
  .main-padding {
    @apply py-16 px-14 flex-1;
  }

  label {
    @apply text-sm font-semibold text-[#627D98];
  }
}

.testing {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(329deg) brightness(104%) contrast(103%);
}
